@page "/check-out"
@using Shopularity.Public.Pages
@using Shopularity.Basket.Services
@using Shopularity.Catalog.Products
@using Shopularity.Catalog.Products.Public
@using Shopularity.Localization
@using Shopularity.Public.Components.Basket
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.ListGroup
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHtmlLocalizer<ShopularityResource> L
@model CheckOutModel

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Global.css"/>
    </abp-style-bundle>
}

<h4>@L["Items"]</h4>
<abp-row>
    <abp-column size-md="_8">
        @foreach (var item in Model.Items)
        {
            <abp-card>
                <abp-card-body>
                    <abp-row>
                        <abp-column size="Auto">
                            <img src="/api/catalog/public/products/image/@(item.Id)" style="width: 60px; height: auto;"
                                 alt="@item.Name"/>
                        </abp-column>
                        <abp-column class="align-content-center">
                            <div class="d-flex justify-content-between">
                                <span class="fw-light">@item.Name</span>
                                <span class="fw-semibold">$@item.Price</span>
                            </div>
                            <span class="fw-lighter">@L["Amount"]: @item.Amount</span>
                        </abp-column>
                    </abp-row>
                </abp-card-body>
            </abp-card>
        }
    </abp-column>
    <abp-column>
        <abp-card>
            <abp-card-body class="p-4">
                <div class="d-flex justify-content-between">
                    <span class="h4 fw-light">@L["TotalPrice"]</span>
                    <span class="h4 fw-semibold text-primary">$@Model.TotalPrice.ToString("F2")</span>
                </div>
                <form method="post">
                    <abp-input asp-for="CacheId"/>
                    <abp-input asp-for="CreditCardNumber" info="@L["FakeCreditCardInfo"].Value"
                               class="small fw-lighter text-muted"/>
                    <abp-input asp-for="Address"/>
                    <abp-button button-type="Primary" size="Large" type="submit"
                                class="w-100">@L["CompleteOrder"]</abp-button>
                </form>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row> 
