@page
@using Shopularity.Public.Pages
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@inherits Shopularity.Public.Pages.ShopularityPublicPageBase
@model IndexModel

@section scripts {
<abp-script-bundle name="@typeof(IndexModel).FullName">
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />
    <abp-script src="/Pages/index.js" />
</abp-script-bundle>
}

<abp-row>
    @foreach(var item in Model.MyProducts)
    {
    <abp-column size="_4">
        <abp-card>
            <abp-card-header>
                <h2>@item.Product.Name</h2>
            </abp-card-header>
            <abp-card-body>
                @if (item.Product.Image != null && item.Product.Image.Length != 0)
                {
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Product.Image)" Style="max-width: 300px; max-height: 300px; border-radius: 8px;" alt="@item.Product.Name"/>
                }
            </abp-card-body>
            <abp-card-footer>
                <abp-row>
                    <p>$@item.Product.Price</p>
                    <abp-button size="Small" button-type="Primary" 
                                class="addToBasket" data-product-id="@item.Product.Id">@L["AddToBasket"]</abp-button>
                </abp-row>
                <p>@item.Product.Description</p>
                @*<p>Category: @item.Category.Name</p>*@
            </abp-card-footer>
        </abp-card>
    </abp-column>
    }
</abp-row>
