@page
@using Shopularity.Public.Pages
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@inherits Shopularity.Public.Pages.ShopularityPublicPageBase
@model IndexModel

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/index.js"/>
        <abp-script src="/Pages/productDetails.js"/>
    </abp-script-bundle>
}

<abp-row>
    <abp-column size="_2">
        <h2>@L["Categories"]:</h2>
        <div style="max-height:600px; overflow-y:auto;">
            <abp-list-group>
                <abp-list-group-item class="category-item" data-category-id="">
                    @L["all"]
                </abp-list-group-item>
                @foreach (var category in Model.Categories)
                {
                    <abp-list-group-item class="category-item" data-category-name="@category.Name">
                        <span class="category-item-text">@category.Name</span>
                    </abp-list-group-item>
                }
            </abp-list-group>
        </div>
    </abp-column>
    <abp-column size="_10">
        <div id="ShopularityProductList">

        </div>
    </abp-column>
</abp-row>