@page "/my-orders"
@using Shopularity.Public.Pages
@using Shopularity.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ShopularityResource> L
@model MyOrdersModel

<div>
    <h2>My Orders:</h2>
    @foreach (var item in Model.Orders.Items)
    {
        <abp-row abp-border="Info">
            <div>@item.TotalPrice.ToString("F2")</div>
            <div>State: @item.State</div>
            <div>Address: @item.ShippingAddress</div>
            <div>CargoNo: @item.CargoNo</div>
            @foreach (var lineItem in item.OrderLines)
            {
                <span> - @lineItem.Name (@lineItem.Amount)</span>
            }
        </abp-row>
    }
</div>