@page "/my-orders"
@using Shopularity.Public.Pages
@using Shopularity.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ShopularityResource> L
@model MyOrdersModel

<div>
    <h2>My Orders:</h2>
    <abp-list>
    @foreach (var item in Model.Orders.Items)
    {
        <abp-list-item>
            <span>@item.TotalPrice</span>
            <span>State: @item.State</span>
            <span>Address: @item.ShippingAddress</span>
            <span>CargoNo: @item.CargoNo</span>
            @foreach (var lineItem in item.OrderLines)
            {
                <span> - @lineItem.Name + (@lineItem.Amount)</span>
            }
        </abp-list-item>
    }
    </abp-list>
</div>