@page "/product-details/{id}"
@using Shopularity.Public.Pages
@using Shopularity.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Commenting
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Rating
@inject ICurrentUser CurrentUser
@inject IHtmlLocalizer<ShopularityResource> L
@model ProductDetailsModel

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Global.css"/>
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(ProductDetailsModel).FullName">
        <abp-script src="/Pages/login.js"/>
        <abp-script src="/Pages/productDetails.js"/>
    </abp-script-bundle>
}

<div>
    <abp-card class="w-100 h-100 px-lg-3">
        <abp-card-body>
            <div class="row">
                <div class="col-lg">
                    <img src="/api/catalog/public/products/image/@(Model.Item.Product.Id)"
                         class="product-image"
                         alt="@Model.Item.Product.Name"/>
                </div>
                <div class="col align-content-center">
                    <div class="d-flex flex-column justify-content-between p-4 px-lg-5">
                        <span class="h4 fw-light mb-3">@Model.Item.Product.Name</span>
                        <div class="mb-4">
                            <p class="fw-lighter mb-0">@Model.Item.Product.Description</p>
                        </div>
                        <span class="h4 fw-semibold mb-4">$@Model.Item.Product.Price</span>
                        @if (CurrentUser.IsAuthenticated)
                        {
                            <abp-button size="Large" button-type="Primary"
                                        class="addToBasket" data-product-id="@Model.Item.Product.Id">
                                <i class="fa-solid fa-cart-plus me-3"></i> @L["AddToBasket"]
                            </abp-button>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-lg button-login-required" href="~/Account/Login"><i
                                                                                                               class="fa-solid fa-cart-plus me-3"></i> @L["AddToBasket"]</a>
                        }

                        <p class="mb-0 mt-3 text-muted fw-lighter">
                            @L["ItemLeftInStock", Model.Item.Product.StockCount]
                        </p>
                    </div>
                </div>
            </div>
        </abp-card-body>
        <abp-card-footer>
            @await Component.InvokeAsync(typeof(RatingViewComponent), new
            {
                entityType = "Product",
                entityId = Model.Item.Product.Id.ToString(),
                isReadOnly = false
            })
            @await Component.InvokeAsync(typeof(CommentingViewComponent), new
            {
                entityType = "Product",
                entityId = Model.Item.Product.Id.ToString(),
                isReadOnly = false,
                referralLinks = new[] { "nofollow" }
            })
        </abp-card-footer>
    </abp-card>
</div>