@page
@using Shopularity.Public.Pages
@inherits Shopularity.Public.Pages.ShopularityPublicPageBase
@model IndexModel

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/login.js"/>
        <abp-script src="/Pages/index.js"/>
        <abp-script src="/Pages/productDetails.js"/>
    </abp-script-bundle>
}

<abp-row>
    <abp-column size-sm="_4" size-md="_3" size-lg="_2">
        <div class="position-sticky mb-5 mb-md-0" style="top: 30px;">
            <h5>@L["Categories"]</h5>
            <div class="category-list-container">
                <abp-list-group>    
                    <abp-list-group-item class="category-item" data-category-id="">
                        <span class="category-item-text">@L["All"]</span>
                    </abp-list-group-item>
                    @foreach (var category in Model.Categories)
                                                                   {
                    <abp-list-group-item class="category-item" data-category-name="@category.Name" data-category-id="@category.Id">
                    <span class="category-item-text">@category.Name</span>
                        </abp-list-group-item>
                    }
                </abp-list-group>
            </div> 
        </div>
    </abp-column>
    <abp-column size-sm="_8" size-md="_9" size-lg="_10">
        <div id="ShopularityProductList">
            
        </div>
    </abp-column>
</abp-row>