@page "/order-history"
@using System.Globalization
@using Shopularity.Public.Pages
@using Shopularity.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Shopularity.Ordering.Domain.Orders
@inject IHtmlLocalizer<ShopularityResource> L
@model OrderHistoryModel

@section scripts {
    <abp-script-bundle name="@typeof(OrderHistoryModel).FullName">
        <abp-script src="/Pages/orderHistory.js"/>
    </abp-script-bundle>
}

<h4>@L["OrderHistory"]</h4>
    @if (Model.Orders.Items.Count > 0)
    {
            @foreach (var item in Model.Orders.Items)
            {
                <abp-card>
                    <abp-card-body> 
                    <abp-row class="align-items-top">
                        <abp-column size-md="_3" class="mb-2">
                            <span class="text-muted fw-lighter">@L["Items"]</span> 
                                @foreach (var lineItem in item.OrderLines)
                                {
                                    <div>
                                        <a class="text-decoration-none" href="/product-details/@lineItem.ProductId">@lineItem.Name</a>
                                        <span class="text-muted small fw-light">(@lineItem.Amount)</span>
                                    </div>
                                } 
                        </abp-column>

                        <abp-column size-md="_2" class="mb-2">
                            <span class="text-muted fw-lighter">@L["Total"]</span>
                            <div class="text-primary fw-bold">$@item.TotalPrice.ToString("#,0.00", CultureInfo.InvariantCulture)</div>
                        </abp-column>

                        <abp-column size-md="_2" class="mb-2 order-state">
                            <span class="text-muted fw-lighter">@L["State"]</span>
                            <div class="fw-semibold order-state-label">@L[$"Enum:OrderState.{(int)item.State}"]</div> 
                        </abp-column>

                        <abp-column size-md="_2" class="mb-2">
                            <span class="text-muted fw-lighter">@L["Address"]</span>
                            <div class="fw-semibold">@item.ShippingAddress</div>
                            @if (item.State is OrderState.Shipped or OrderState.Completed)
                            {
                                <small class="text-muted">@L["CargoNo"]: @item.CargoNo</small>
                            }
                        </abp-column>

                        <abp-column size-md="_2" class="mb-2">
                            <span class="text-muted fw-lighter">@L["Date"]</span>
                            <div class="fw-semibold">@item.CreationTime.ToString()</div>
                        </abp-column>
                        <abp-column size-md="_1" class="mb-2">
                            @if (!item.State.IsPostShippingState() && item.State != OrderState.Cancelled)
                            {
                                <abp-button button-type="Danger" size="Small" class="cancel-order w-100"
                                            data-order-id="@item.Id">
                                    @L["Cancel"]
                                </abp-button>
                            }
                        </abp-column>
                    </abp-row>
                    </abp-card-body>
                </abp-card>
            }
    }
    else
    {
        <h3>@L["YouHaventOrderedYet"]</h3>
    }

