@using Microsoft.Extensions.Localization
@using Shopularity.Localization
@using Shopularity.Public.Pages.Shared.Components.Basket.BasketItem
@inject IStringLocalizer<ShopularityResource> L
@model BasketItemViewModel

@section styles {
    <abp-style-bundle name="@typeof(BasketItemViewComponent).FullName">
        <abp-style src="BasketItem.css"/>
    </abp-style-bundle>
}

<abp-container>
    <abp-row class="basket-item">
        <abp-column size="_5">
            <img src="/api/catalog/public/products/image/@(Model.Item.Id)" style="width: 100%; height: auto;"
                 alt="@Model.Item.Name"/>
        </abp-column>
        <abp-column size="_7" class="position-relative align-content-center" style="position: relative;">
            <abp-button button-type="Link"
                        size="Small"
                        icon="fa-solid fa-xmark"
                        class="remove-from-basket">
            </abp-button>

            <p class="small fw-light mb-0">@Model.Item.Name</p>
            <p class="small fw-semibold mb-1">$@Model.Item.Price</p>
            <div class="amount-control d-flex align-items-center" data-product-id="@Model.Item.Id">
                <abp-button button-type="Outline_Secondary"
                            size="Small"
                            disabled="@(Model.Item.Amount == 1)"
                            class="amount-minus">
                    <i class="fa-solid fa-minus"></i>
                </abp-button>
                <span class="amount-value mx-2">@Model.Item.Amount</span>
                <abp-button button-type="Outline_Secondary"
                            size="Small"
                            class="amount-plus">
                    <i class="fa-solid fa-plus"></i>
                </abp-button>
            </div>
        </abp-column>
    </abp-row>
</abp-container>