@using Microsoft.Extensions.Localization
@using Shopularity.Localization
@using Volo.Abp.Users
@inject IStringLocalizer<ShopularityResource> L
@inject ICurrentUser CurrentUser
@model Shopularity.Public.Pages.Shared.Components.ProductList.ProductItem.ProductItemViewModel

<abp-card class="w-100 h-100">
    <abp-card-header>
        <span>@Model.Item.Product.Name</span>
    </abp-card-header>
    <abp-card-body class="text-center">
        <a href="/product-details/@(Model.Item.Product.Id)">
            <img src="/api/catalog/public/products/image/@(Model.Item.Product.Id)"
                 style="max-width: 300px; max-height: 300px; border-radius: 8px;"
                 alt="@Model.Item.Product.Name"/>
        </a>
    </abp-card-body>
    <abp-card-footer>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 fw-bold text-success">$@Model.Item.Product.Price</p>

            @if (CurrentUser.IsAuthenticated)
            {
                <abp-button size="Small" button-type="Primary"
                            class="addToBasket" data-product-id="@Model.Item.Product.Id">
                    @L["AddToBasket"]
                </abp-button>
            }
            else
            {
                <a class="btn btn-primary btn-sm" href="~/Account/Login">@L["AddToBasket"]</a>
            }
        </div>
    </abp-card-footer>
</abp-card>